 .rightLogoBTF {
     position: relative;
     ;
     width: 400px;
     height: 40px;
 }
.Buy {
    width: 100px;
    height: 35px;
    font-size: 20px;
    background: linear-gradient(90deg, #EC7AB7 -0.6%, #EC7A7A 100%);
    border-radius: 10px;
    color: white;
}
 .eTicketBTF {
     font-size: 48px;
     font-weight: bold;
     position: absolute;
     left: 35px;
     top: 25px;
 }

 .trainDetailBTF {
     position: absolute;
     left:608px;
     font-size: 35px;
     top: 10px;
     font-weight: bolder;
 }

 .datetimenowDetailBTF {
     position: absolute;
     left: 35px;
     top: 80px;
     font-size: 20px;
     color: darkgrey;
 }

 .daydetailBTF {
     font-weight: bolder;
 }

 .argodetailBTF {
     font-weight: bold;
     font-size: 20px;
     position: relative;
     left: 35px;
     top: 70px;
 }

 .typeArgodetailBTF {
     position: relative;
     left: 35px;
     top:70px;
 }

 .linethroughDetailBTF {
     width: 40px;
     height:150px;
     position: relative;
     top: 80px;
     left: 30px;
 }

 .depTimedetailBTF {
     position: relative;
     left: 100px;
     top:-60px;
     font-weight: bold;
 }

 .depdatetimedetailBTF {
     position: relative;
     left: 100px;
     top:-58px;
     color: darkgrey;
 }

 .arrvTimedetailBTF {
     position: relative;
     left: 100px;
     top: -18px;
     font-weight: bold;
 }

 .arrvdatetimedetailBTF {
     position: relative;
     left: 100px;
     top:-16px;
     color: darkgrey;
 }

 .depPlacedetailBTF {
     position: relative;
     left: 330px;
     top: -160px;
     font-weight: bold;
 }

 .notdepPlacedetailBTF {
     position: relative;
     left: 330px;
     top:-158px;
     color: darkgrey;
 }

 .destPlacedetailBTF {
     position: relative;
     left: 330px;
     top:-118px;
     font-weight: bold;
 }

 .notdestdetailBTF {
     position: relative;
     left: 330px;
     top:-116px;
     color: darkgrey;
 }
 .lineDetailfirstBTF {
     width: 100%;
     border: 1px solid grey;
     position: relative;
     top:-100px;
 }

 .lineDetailsecondBTF {
     width: 100%;
     border: 1px solid grey;
     position: absolute;
     top: 650px;
 }

 .pcicDetailBTF {
     font-size: 20px;
 }

 .pOrdersDetailBTF {
     font-size: 20px;
 }
 
 .pHpDetailBTF {
    font-size: 20px;
}

.pemailDetailBTF {
    font-size: 20px;
}

.userData{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position: relative;
    top:-90px;
}
.userDataContent{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position: relative;
    top:-80px;

}

 .noCicDetailBTF {
     color: darkgrey;
     text-align: center;
 }

 .noOrdersDetailBTF {
     color: darkgrey;
 }

 .noHpDetailBTF {
     color: darkgrey;
 }

 .noEmailDetailBTF {
     color: darkgrey;
 }

 .BoxFooterBTF {
     position: relative;
     ;
     background-color: #E6E6E6;
     height: 60px;
     width: 95%;
     margin-left: 20px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

 .totalBTF {
     text-align: left;
     font-size: 40px;
     color: black;
     position: relative;
     font-weight: bold;
     margin-left: 12px;
     float: left;
 }

 .RpBTF {
     font-size: 40px;
     color: red;
     font-weight: bold;
     text-align: right;
     margin-right: 10px;
 }
 .transferBTF {
     width: 100%;
     height: 100%;
     box-shadow: 6px 6px 7px gray;
 }

