.searchBox{
  width:90%;
  margin:0 auto;
  margin-top:-1.6rem;
  border-radius:0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  box-sizing:border-box;
  z-index:60;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom:1.5rem;
}

.left-searchBox{
  flex:1 1 10rem;
  background-color:#CCD6DD;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
.left-searchBox > div{
  border-left:0.6rem solid #E67E22;
  height:3rem;
  margin-top:1rem;
  background-color: #FFFFFF;
  font-size:1.2rem;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
}
.left-searchBox > div > img{
  max-width:3.2rem;
  max-height:4rem;
}
.left-searchBox > div > div {
  padding:0 0.5rem;
  flex:1;  
}
/* middle session */
.right-searchBox{
  flex:1 1 40rem;
  list-style-type:none;
  margin:0;
  padding:1rem;
  background-color: #E1E8ED;
  font-weight:bold;
  border-top-right-radius:.5rem;
  border-bottom-right-radius:.5rem;
}
.right-searchBox li{
  padding:0;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.right-searchBox li:nth-child(2) div{
  width:23rem;
}
.right-searchBox li:nth-child(2) div:nth-child(2){
  width:4rem;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:flex-end;
}
.right-searchBox li:nth-child(2) div > img{
  width:2.5rem;
  height:2.5rem;
  border:0.1rem solid #eaeaea;
  border-radius:50%;
  background-color:#5b9291;
}
.right-searchBox li:nth-child(2) div > img:hover{
  border:0.2rem solid #fff;
  cursor:pointer;
}
.right-searchBox li:nth-child(3){
   display:flex;
   align-items:center;
   justify-content:space-between;
}
.right-searchBox li:nth-child(3) div{
  width:23rem;
}
.right-searchBox li:nth-child(3) div:nth-child(1){
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.right-searchBox li:nth-child(3) div:nth-child(1)  div:nth-child(2){
  display:flex;
  align-items:center;
  justify-content:flex-end;
  text-align:center;
}
.right-searchBox li:nth-child(3) div:nth-child(2) > div{
   display: inline;
}.right-searchBox li:nth-child(3) div:nth-child(2) div:nth-child(1){
   margin-right:6rem;
}
.right-searchBox li:nth-child(4) div{
  width:23rem;
  padding:.3rem 0;
  overflow:hidden;
}
.right-searchBox li:nth-child(4) div:nth-child(1){
 display:flex;
 align-items:center;
}
.right-searchBox li:nth-child(4) div:nth-child(2){
  display:flex;
  align-items:center;
  justify-content:space-between;
 }
 .right-searchBox li:nth-child(4) > div:nth-child(2) > div{
  margin:0 .3rem;
}
 .right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(1){
    width:8rem;
    padding:.3rem;
    text-align:center;
    display:flex;
    justify-content:space-around;
    background-color: rgb(89, 128, 167);
    border:.1rem solid #111;
    border-radius:.6rem;
 }
 .right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(1) > div{
    display:flex;
    justify-content:center;
    align-items:center;
} 
.right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(1) > button{
  outline:none;
  border-radius:.4rem;
}
.right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(2){
  width:8rem;
  padding:.3rem;
  text-align:center;
  display:flex;
  justify-content:space-around;
  background-color: rgb(89, 128, 167);
  border:.1rem solid #111;
  border-radius:.6rem;
}
.right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(2) > div{
  display:flex;
  justify-content:center;
  align-items:center;
} 
.right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(2) > button{
 outline:none;
 font-size:1rem;
 border-radius:.4rem;
}
.right-searchBox li:nth-child(4) > div:nth-child(2) > div:nth-child(3){
  width:8rem;
  text-align:center;
  display:flex;
  justify-content:space-around;
}

/* homescreen*/
.product-container a:hover{
  text-decoration:none;
}
.listProduct{
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items:center;
  width:90%;
  background-color: grey;
  color:white;
  margin:0 auto;
  padding:0 1rem;
  font-weight:bolder;
  border-radius:0.6rem;
  margin-bottom:2rem;
  list-style-type:none;
}
.listProduct > li{
  width:10rem;
}
.listData{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;
  width:90%;
  height:6rem;
  color:#111;
  margin:0 auto;
  font-weight:bolder;
  padding:0 1rem;
  border-radius:0.6rem;
  border:0.1rem solid #878f99;
  margin-bottom:1.4rem;
  list-style-type:none;
}
.listData > li{
  border-radius:0.5rem;
  width:10rem;
}
.listData > li > div:nth-child(2){
  font-weight:200;
  color:#878f99;
}
.listData  li:last-child{
  align-items:center;
}
.center-state-loading{
  text-align:center;
}
/* responsive design for mobile */
@media screen and (max-width:576px){
  .searchBox{
      flex-wrap:wrap;
      font-size:1rem;
      margin:0 0.6rem;
  }
  .left-searchBox{
    width:100%;
  }
  .middle-searchBox{
    width:100%;
    background-color: #1782ce;
    padding:0.4rem 0.2rem;
  }
 
  .middle-searchBox  ul {
    list-style-type:none;
    padding:0;
  }
  .middle-searchBox  ul > li{
    padding:0.3rem 0;
    display:flex;
    justify-content:start;
  }
  .middle-searchBox  ul > li:first-child{
    font-size:1rem;
    background-color:red;
  }
  .middle-searchBox  ul > li:nth-child(2){
    align-items:center;
  }
  .middle-searchBox > ul > li:nth-child(2) div:nth-child(1){
    width:10rem;
  }
  .middle-searchBox > ul > li:nth-child(2) > div > img{
    margin-top:1.4rem;
    max-width:2.4rem;
    max-height:2.4rem;
    border-radius:50%;
    background-color:#5b9291;
    padding:0.3rem;
    border:0.1rem solid #eaeaea;
  }
  .middle-searchBox > ul > li:nth-child(2)  > div > img:hover{
    cursor: pointer;
    border:0.1rem solid #111;
  }
  .middle-searchBox > ul > li:nth-child(3) > div:nth-child(1){
    width:20rem;
    display:flex;
    justify-content:space-between;
  }
  .middle-searchBox > ul > li:nth-child(3) > div:nth-child(2){
    width:20rem;
    display:flex;
  }

}