.DetailTicket {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.leftLogoDT {
    position: relative;
    left:1320px;
    top:15px;
}
.eTicketDT {
    font-size:48px;
    font-weight:bold;
    position: absolute;
    left:30px;
    top:30px;
}
.invoiceCodeDT {
    position: absolute;
    top:100px;
    left:30px;
    font-size:15px;
    color:grey;
}
.trainDetailDT {
    position: absolute;;
    left:30px;
    font-size: 35px;
    top:155px;
    font-weight:bolder;
}

.datetimenowDetailDT {
    position: absolute;
    left:30px;
    top:200px;
    font-size: 20px;
    color: darkgrey;
}

.daydetailDT {
    font-weight: bolder;
}
.argodetailDT {
    font-weight: bold;
    font-size: 20px;
    position: absolute;;
    left: 30px;
    top: 270px;
}

.typeArgodetailDT {
    position: absolute;
    left: 30px;
    top: 310px;
}
.linethroughDetailDT {
    width: 50px;
    height: 200px;
    position: absolute;
    top: 360px;
    left: 30px;
}

.depTimedetailDT {
    position: absolute;
    left: 100px;
    top: 370px;
    font-weight: bold;
}
.depdatetimedetailDT {
    position: absolute;
    left: 100px;
    top: 400px;
    color: darkgrey;
}

.arrvTimedetailDT {
    position: absolute;
    left: 100px;
    top: 510px;
    font-weight: bold;
}

.arrvdatetimedetailDT {
    position: absolute;
    left: 100px;
    top: 540px;
    color: darkgrey;
}
.depPlacedetailDT {
    position: absolute;
    left: 330px;
    top: 370px;
    font-weight: bold;
}
.notdepPlacedetailDT {
    position: absolute;
    left: 330px;
    top: 400px;
    color: darkgrey;
}

.destPlacedetailDT {
    position: absolute;
    left: 330px;
    top: 510px;
    font-weight: bold;
}
.notdestdetailDT {
    position: absolute;
    left: 330px;
    top:540px;
    color: darkgrey;
}
.BoxdetailScanerDT {
    position:absolute;
    width:400px;
    height:400px;
    left:800px;
    top:200px;
}
.detailScannerDT {
    width:400px;
    height:400px;
    box-shadow:8px 8px 15px gray;
}
.lineDetailfirstDT {
    width:100%;
    border:1px solid grey;
    position:absolute;
    top:640px;
}
.BoxLineDetailDT {
    width:100%;
    height:150px;
    position: absolute;
    top:650px;
}
.notifyDT {
    position: relative;
    left:50px;
    top:20px;
}
.timerDT {
    position: relative;
    left:460px;
    top: 20px;
}
.declarDT {
    position: relative;
    left: 840px;
    top: 20px;
}
.notifyparafDT {
    position: absolute;
    width:300px;
    height:50px;
    left:140px;
    top:30px;
}
.timerparafDT {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 640px;
    top: 32px;
}
.declarparafDT {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 1130px;
    top: 32px;
}
.lineDetailsecondDT {
    width: 100%;
    border: 1px solid grey;
    position: relative;
    top: 720px;
}
.pcicDetailDT {
    position: absolute;
    left: 30px;
    top: 820px;
    font-size: 20px;
}

.pOrdersDetailDT {
    position: absolute;
    left: 500px;
    top: 820px;
    font-size: 20px;
}

.pHpDetailDT {
    position: absolute;
    left: 850px;
    top: 820px;
    font-size: 20px;
}

.pemailDetailDT {
    position: absolute;
    left: 1200px;
    top: 820px;
    font-size: 20px;
}

.noCicDetailDT {
    position: absolute;
    left: 30px;
    top: 870px;
    color: darkgrey;
}

.noOrdersDetailDT {
    position: absolute;
    left: 500px;
    top: 870px;
    color: darkgrey;
}

.noHpDetailDT {
    position: absolute;
    left:850px;
    top: 870px;
    color: darkgrey;
}

.noEmailDetailDT {
    position: absolute;
    left: 1200px;
    top: 870px;
    color: darkgrey;
}
.backtoMenu{
    width: 500px;
    height: 60px;
    font-size: 20px;
    background: linear-gradient(90deg, #EC7AB7 -0.6%, #EC7A7A 100%);
    border-radius: 10px;
    color: white;
    position: absolute;;
    top:960px;
    left:500px;
    margin-bottom: 12px;
}