.bckgrApproved {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}




.myticketApproved {
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 40px;
    font-weight: bolder;
}

.mytktApproved {
    position: relative;
    ;
    width: 1000px;
    height: 400px;
    top: 100px;
    left: 30px;
    border: 2px solid lightslategrey;
    margin: auto 220px;
}

.myticketlogoApproved {
    width: 200px;
    height: 40px;
}

.argoApproved {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 30px;
    top: 30px;
}

.typeArgoApproved {
    width: 120px;
    height: 20px;
    position: relative;
    left: 30px;
    top: 40px;
}

.approved {
    position: relative;
    width: 90px;
    height: 30px;
    text-align: center;
    left: 30px;
    top: 100px;
    color:green;
    background-color: lightgreen;
}

.pcicApproved {
    position: absolute;
    left: 30px;
    top: 300px;
    font-size: 20px;
}

.pOrdersApproved {
    position: absolute;
    ;
    left: 310px;
    top: 300px;
    font-size: 20px;
}

.pHpApproved {
    position: absolute;
    left: 440px;
    top: 300px;
    font-size: 20px;
}

.pemailApproved {
    position: absolute;
    left: 610px;
    top: 300px;
    font-size: 20px;
}

.noCicApproved {
    position: absolute;
    left: 30px;
    top: 350px;
    color: darkgrey;
}

.noOrdersApproved {
    position: absolute;
    left: 310px;
    top: 350px;
    color: darkgrey;
}

.noHpApproved {
    position: absolute;
    left: 440px;
    top: 350px;
    color: darkgrey;
}

.noEmailApproved {
    position: absolute;
    left: 610px;
    top: 350px;
    color: darkgrey;
}

.hrlineApproved {
    width: 740px;
    border: 1px solid lightslategrey;
    position: absolute;
    top: 340px;
}

.depTimeApproved {
    position: absolute;
    left: 200px;
    top: 75px;
}

.depPlaceApproved {
    position: absolute;
    left: 400px;
    top: 75px;
}

.notdepPlaceApproved {
    position: absolute;
    left: 400px;
    top: 100px;
    color: darkgrey;
}

.destPlaceApproved {
    position: absolute;
    left: 400px;
    top: 190px;
}

.notdestPlaceApproved {
    position: absolute;
    left: 400px;
    top: 220px;
    color: darkgrey;
}

.TicketApproved {
    position: absolute;
    left: 830px;
    font-size: 35px;
    top: 10px;
}

.datetimenowApproved {
    position: absolute;
    left: 820px;
    top: 60px;
    font-size: 15px;
    color: darkgrey;
}

.datetimedetApproved {
    position: absolute;
    left: 200px;
    top: 220px;
    color: darkgrey;
}

.linethroughApproved {
    width: 50px;
    height: 160px;
    position: absolute;
    top: 60px;
    left: 140px;
}

.arrvTimeApproved {
    position: absolute;
    left: 200px;
    top: 190px;
}

.datetimearrvApproved {
    position: absolute;
    left: 200px;
    top: 220px;
    color: darkgrey;
}