.bMyticket {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.myticketMT {
    position: relative;
    top:40px;
    left:50px;
    font-size:40px;
    font-weight:bolder;
}
.mytktMT {
    position: relative;;
    width:1000px;
    height:400px;
    top:100px;
    left:30px;
    border:2px solid lightslategrey;
    margin:auto 220px;
}
.myticketlogoMT {
    width:200px;
    height:40px;
}
.argoMT {
    font-weight:bold;
    font-size:20px;
    position: relative;
    left:30px;
    top:30px;
}
.typeArgoMT {
    width:120px;
    height:20px;
    position: relative;
    left:30px;
    top:40px;
}
.pendingMT {
    position: relative;
    width:90px;
    height:30px;
    text-align:center;
    left:30px;
    top:100px;
    color: #EC7A7A;
    background-color:lightpink;
}
.hrlineMT {
    width:740px;
    border:1px solid lightslategrey;
    position:absolute;
    top:340px;
}
.depTimeMT {
   position: absolute;
   left:200px;
   top:75px;
}
.depPlaceMT {
    position: absolute;
    left:400px;
    top:75px;
}
.notdepPlaceMT {
   position: absolute;
   left:400px;
   top:100px;
   color:darkgrey;
}
.destPlaceMT {
    position: absolute;
    left: 400px;
    top: 190px;
}

.notdestPlaceMT {
    position: absolute;
    left: 400px;
    top: 220px;
    color: darkgrey;
}
.TicketMT {
    position: absolute;
    left:830px;
    font-size:35px;
    top:10px;
}

.datetimenowMT {
    position: absolute;
    left:820px;
    top: 60px;
    font-size:15px;
    color: darkgrey;
}
.datetimedetMT {
   position: absolute;
   left:200px;
   top: 220px;
   color:darkgrey;
}
.linethroughMT {
    width:50px;
    height:160px;
    position:absolute;
    top:60px;
    left:140px;
}
.arrvTimeMT {
    position: absolute;
    left: 200px;
    top: 190px;
}

.datetimearrvMT {
    position: absolute;
    left: 200px;
    top: 220px;
    color:darkgrey;
}
.payNowMT {
background: linear-gradient(90deg, #EC7AB7 -0.6%, #EC7A7A 100%);
position: relative;
cursor:pointer;
border-radius:8px;
top:185px;
left:800px;
width:120px;
height:40px;
color:white;
}
.detailticketMT {
    background: linear-gradient(90deg, #EC7AB7 -0.6%, #EC7A7A 100%);
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    top: 185px;
    left: 1128px;
    width: 120px;
    height: 40px;
    color: white;
}
.pcicMT {
    position: absolute;
    left: 30px;
    top: 300px;
    font-size: 20px;
}

.pOrdersMT {
    position: absolute;
    ;
    left: 310px;
    top: 300px;
    font-size: 20px;
}

.pHpMT {
    position: absolute;
    left: 440px;
    top: 300px;
    font-size: 20px;
}

.pemailMT {
    position: absolute;
    left: 610px;
    top: 300px;
    font-size: 20px;
}

.noCicMT {
    position: absolute;
    left: 30px;
    top: 350px;
    color: darkgrey;
}

.noOrdersMT {
    position: absolute;
    left: 310px;
    top: 350px;
    color: darkgrey;
}

.noHpMT {
    position: absolute;
    left: 440px;
    top: 350px;
    color: darkgrey;
}

.noEmailMT {
    position: absolute;
    left: 610px;
    top: 350px;
    color: darkgrey;
}
