.payment-container{
    margin:auto;
    width:98%;
    padding:0.2rem 2rem;
    margin:.8rem 0.8rem;
    border:.1rem solid #808080;
    position:relative;
}
.payment-container ul{
    padding:0;
    list-style-type:none;
}
.payment-container ul li:nth-child(1){
    padding-bottom:.4rem;
}
.payment-container ul > li:nth-child(2){
    display:flex;
    justify-content:space-around;
}
/* left session */
.payment-container  .payment-info-user{
   flex:1 1 45rem;
   padding:0 0.8rem;
}
.payment-container  .payment-info-user > div{
    margin-bottom:1rem;
    border-radius:0.5rem;
 }
.payment-container  .payment-info-user > div:nth-child(1){
    border:0.1rem solid #D0D0D0;
    display:flex;
    align-items:center;
    padding:0.8rem;
    font-size:.6rem;
    background:#eeeeee;
}
.payment-container  .payment-info-user > div:nth-child(1) > img{
    max-width:3rem;
    max-height:3rem;
} 
.payment-container  .payment-info-user > div:nth-child(1) > div > div{
    margin:.4rem .5rem;
    font-size:1rem;
} 

.payment-container  .payment-info-user > div.invoice-user-info{
    border:0.1rem solid #D0D0D0;
    padding:1rem;
}

.payment-container  .payment-info-user > div.invoice-user-info > img{
    max-width:12rem;
    max-height:2rem;
    margin-left:-1rem;
    margin-top:-1rem;
    margin-bottom:1rem;
}
.payment-container  .payment-info-user > div.invoice-user-info > table{
    width:100%;
    font-size:1.2rem;
}
.payment-container  .payment-info-user > div.invoice-user-info > table  tr:nth-child(1){
    border-bottom:0.1rem solid #D0D0D0;
    
}

/* upper right side*/
.payment-container .payment-info-product{
   flex:1 1 30rem;
   border:0.1rem solid #D0D0D0;
   background:#D0D0D0;
}
.payment-container .payment-info-product .upper-right-side{
    display:flex;
    align-items:center;
    justify-content:space-between;   
    border-bottom:0.1rem solid #111;
 }
 .payment-container .payment-info-product .upper-right-side > div > p{
    padding:0;
    margin:0;
 }
 .payment-container .payment-info-product .upper-right-side > div > p:nth-child(1){
    font-size:2rem;
    font-weight:bold;
    padding-left:.6rem;
 }
 .payment-container .payment-info-product .upper-right-side > div > p:nth-child(2){
    font-size:1.1rem;
    font-weight:200;
    padding-left:.6rem;
 }
 .payment-container .payment-info-product .upper-right-side > img {
    max-width:5rem;
    max-height:5rem;
    border:0.1rem solid #111;
 }
/* lower right side*/
.lower-right-side{
   background:#FFFFFF;
}
 .lower-right-side > div > div:nth-child(1){
    font-weight:bold;
    font-size:1.6rem;
    padding-left:.6rem;
 }
  .lower-right-side > div > div:nth-child(2){
   font-weight:400;
   font-size:1.2rem;
   padding-left:.6rem;
}
  .lower-right-side > div:nth-child(2){
    display:flex;
    padding:.5rem 0;
 }
.lower-right-side > div:nth-child(2) > div {
   height:10rem; 
}
.lower-right-side > div:nth-child(2) > div > img{
   width:1.4rem;
   height:100%;
}
.lower-right-side > div:nth-child(2) > div:nth-child(2){
   display:flex;
   width:100%;
   height:100%;
   justify-content:space-between;
   padding:0 1rem;
}
.lower-right-side > div:nth-child(2) > div > div{
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:space-between;
   height:10rem;
}
.lower-right-side > div:nth-child(2) > div > div > div > p:nth-child(1){
   font-weight:bold;
   font-size:1.1rem;
   margin:0;
   padding:0;
}
.lower-right-side > div:nth-child(2) > div > div > div > p:nth-child(2){
   font-weight:200;
   font-size:1.1rem;
   margin:0;
   padding:0;
}
  
/* bottom styling */
 .payment-container .invoice-title-price{
     width:60%;
     padding:0.8rem;
     margin-top:-6rem;
 }
 .payment-container .invoice-detail-price {
     display:flex;
     justify-content:space-between;
     flex-wrap:wrap;
 }
 .payment-container .invoice-detail-price > div{
    margin:0.4rem .2rem 0.5rem 0;
}
/* left side  */
.invoice-detail-price > div:nth-child(1){
    flex:1 1 10rem;
 }
.invoice-detail-price > div:nth-child(1) > div{
    border:0.1rem solid #D0D0D0;
    border-radius:0.3rem;
    margin-bottom:1.2rem;
 }
 .invoice-detail-price > div:nth-child(1) > div > div:nth-child(1){
    font-size:1.5rem;
    height:7rem;
    padding:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
 }
 .invoice-detail-price > div:nth-child(1) > div > div:nth-child(2){
    font-size:1.5rem;
    height:4rem;
    padding:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#D0D0D0;
 }
 .invoice-detail-price > div:nth-child(1) > button{
    width:100%;
 }

 /* right side */
.invoice-detail-price > div:nth-child(2){
    flex:1 1 8rem;
}
.invoice-detail-price > div:nth-child(2) > form{
   display:flex;
   flex-direction:column;
   /* align-items:center; */
   width:100%;
   padding-bottom:.2rem;
}
.invoice-detail-price > div:nth-child(2) > form > img{
    width:100%;
    height:18rem;
    border:0.2rem solid #808080;
    border-radius:.6rem;
}












