
.ListTicket{
    position:relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width: 92%;
    height:50px;
    left:57px;
    background-color: grey;
    top:10px;
    color:white;
    margin-bottom:20px;
    font-size: 15px;
    font-weight:bolder;
    padding:30px 30px;
    border-radius:10px;
}
.ListTicketTitle{
  position:relative;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width: 92%;
  height:50px;
  left:57px;
  background-color: grey;
  top:10px;
  color:white;
  margin-bottom:20px;
  font-size: 15px;
  font-weight:bolder;
  padding:30px 30px;
  border-radius:10px;
}
.ListTicketContent {
  width:13%;
  background-color: #878f99;
  margin:5px;
  height:25px;
  text-align:center;
  padding:auto;
  border-radius:20px;
}