.mainindex{
  background-color:#FFFFFF;
  width:100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navigationIndex{
  width:100%;
}
.navindex{
  font-family: "Tomorrow", sans-serif;
  font-size:30px;
  position: absolute;
  height:50px;
  width:100%;
}
.searchBox{
  position: relative;
  height:200px;
  width:90%;
  top:-10px;
  left:65px;
  border-radius:8px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  box-sizing:border-box;
  display:flex;
}
.bfleftIndex{
  height:100%;
  width:25%;
  background-color:#CCD6DD;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
.bfrightIndex{
  height:100%;
  width:100%;
  background-color: #E1E8ED;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}
.bfupperindex{
  position: relative;
  border-top-left-radius:8px;
  width:100%;
  height:60px;
  background-color: #FFFFFF;
  font-size:23px;
  
}
.trainlogoindex{
  margin-left:20px;
  margin-top: 20px;
  float:left;
}
.trainlogofirstindex{
  margin-left:20px;
  width:200px;
  height:50px;
}
.traintextindex {
  float: left;
  margin-left:7px;
  margin-top:14px;
 
}
.cycleindex{
  height:100px;
  border-radius:50%;
  background-color:gradient(90deg, #EC7AB7 14%, #EC7A7A 100%);
}
.fromindex{
  margin-left:20px;
  font-weight:bold;
}
.textfromindex{
  margin-left:20px;
  border-radius:8px;
  outline: none;
  padding-left:8px;
}
.textdepartureindex1 {
  margin-left:33px;
  border-radius: 8px;
  outline: none;
}
.textdepartureindex2 {
  border-radius: 8px;
  outline: none;
}
.exchangelogoindex{
  width:40px;
  height:40px;
  margin-top:-10px;
  margin-left:-65px;
  cursor: pointer;
}

.checkppindex{
  margin-left:18px;
  width:15px;
  height:15px;
  margin-top:10px;
}
.fromdestinationindex{
   font-weight: bold;
   margin-left:54px;
}
.textdesindex{
  outline: none;
  border-radius: 8px;
  margin-left:-280px;
  padding-left:8px;
}
.adultindex {
  font-weight: bold;
  margin-left:17%;
} 
.babyindex {
  font-weight: bold;
  margin-left:-30%;
}
.ageselect1index{
  width: 100px;
  outline: none;
  position: absolute;
  left: 200px;
  top: 445px;
  border-radius: 8px;
  text-align:center;
}
.ageselect2index{
  width: 100px;
  outline: none;
  position: absolute;
  left: 1200px;
  top: 445px;
  border-radius: 8px;
  text-align:center;
}
.searchindex {
  position: relative;
  top:-60px;
  left:120px;
  height:40px;
  font-weight: bold;
  background-color:#EC7A7A;
  border-radius:12px;
  color:white;
}
.AdultQty{
  font-size:24px;
  background-color: rgb(89, 128, 167);
  width:15%;
  height:40px;
  margin-left:50%;
  margin-top:-20px;
  display:flex;
  justify-content:space-evenly;
  justify-items: center;
  align-items:center;
  position: relative;
  top:-40px;
  float: left;
  left:-100px;
  border-radius: 8px;
}
.BabyQty{
  font-size:24px;
  background-color: rgb(89, 128, 167);
  width:15%;
  height:40px;
  padding:4px;
  margin-left:51%;
  margin-top:-20px;
  display:flex;
  justify-content:space-evenly;
  justify-items: center;
  align-items:center;
  position: relative;
  top:-60px;
  float: left;
  left:80px;
  border-radius: 8px;
}
.min1{
  background:#5b9291;
  color:white; 
  align-items:center;
  justify-content:center;
  width:30px;
  height:30px;
  border-radius:10px;
}
.min1 > img {
 cursor: pointer;
 height:20px; 
 width:20px;
 margin-bottom:19px;
 margin-left:-2px;
}
.qty1{
  color:white;
  margin-top:10px;
  margin-left:12px;
  margin-right:12px;
}
.plus1{
  background:#5b9291;
  color:white; 
  width:30px;
  height:30px;
  border-radius:10px;
}
.plus1 > img {
  height:20px;
  width:20px;
  margin-bottom:19px;
  margin-left:-2px;
}
.min2{
  background:#5b9291;
  color:white; 
  width:30px;
  height:30px;
  border-radius:10px;
}
.min2> img {
 cursor: pointer;
 height:20px; 
 width:20px;
 margin-bottom:19px;
 margin-left:-2px;
}
.qty2{
  color:white;
  margin-top:10px;
  margin-left:12px;
  margin-right:12px;
}
.plus2{
  background:#5b9291;
  color:white; 
  width:30px;
  height:30px;
  border-radius:10px;
  outline:none;
}
.plus2 > img {
  height:20px;
  width:20px;
  margin-bottom:19px;
  margin-left:-2px;
}
.show1index{
  height: 100px;
  border: 2px solid grey;
  background-color: white;
  position: relative;
  font-weight: bold;
  margin-bottom:10px;
  padding:30px;
  width:90%;
  top:200px;
  left :95px;
  font-weight:bolder;
  font-size:20px;

}
.v11index{
  float: left;
  margin-left: 120px;
  margin-right: 170px;
  margin-top:10px;
}

.v12index {
  float: left;
  margin-left: 45px;
  margin-top:10px;

}

.v13index {
  float: left;
  margin-left: 200px;
  margin-top:10px;
}

.v14index {
  float: left;
  margin-left: 169px;
  margin-top:10px;
}

.v15index {
  float: left;
  margin-left: 189px;
  margin-top:10px;
  color: #EC7A7A;
}
.trainindex {
  font-size:25px;
  font-weight: bold;
  margin-left:10px;
}
.footer {
  background: linear-gradient(180deg, #ec7a7a 0%, #ec7ab7 100%);
  width: 100%;
  height: 70px;
  top: 630px;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
}
/* product css*/
.ListTicketTitle{
  position:relative;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:85%;
  height:50px;
  left:7%;
  background-color: grey;
  top:10px;
  color:white;
  margin-bottom:20px;
  font-size: 15px;
  font-weight:bolder;
  padding:30px 30px;
  border-radius:10px;
}
.ListTicketContentTitle{
  width:13%;
  background-color: #878f99;
  margin:5px;
  height:25px;
  text-align:center;
  padding:auto;
  border-radius:20px;
}
.ContentStartStation{
  margin-top:10px;
}
.notice{
  color:sandybrown;
}
.ListTicket{
  position:relative;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:85%;
  height:80px;
  left:7%;
  margin-top:5px;
  background-color: grey;
  color:white;
  font-size:15px;
  font-weight:bolder;
  padding:30px 30px;
  border-radius:10px;
}
.ListTicketContent {
  width:13%;
  background-color: #878f99;
  margin:5px;
  height:25px;
  text-align:center;
  padding:auto;
}
.BuyTicket{
  width:13%;
  margin:5px;
  height:25px;
  text-align:center;
  padding:auto;
  /* border-radius:20px; */
}