.form-add-product{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    width:70%;
    margin:1rem auto 0;
    padding:2.3rem 1rem;
}
.form-add-product > ul{
    margin:0.8rem;
}
.form-add-product form:nth-child(1){
   flex:1 1 10rem;
}
.form-add-left{
    padding:1rem;
    border:0.1rem #c0c0c0 solid;
    border-radius:0.5rem;
    list-style-type:none;
    margin-right:3rem;
  }

  .form-add-left > li{
    display:flex;
    flex-direction:column;
    margin:0.4rem 0;
  }
  .form-add-right{
    position:relative;
    display:flex;
    flex-direction:column;
    flex:1 1 5rem;
    padding:0.8rem;
    border:0.1rem #c0c0c0 solid;
    border-radius:0.5rem;
    list-style-type:none;
    background:#eaeaea;
  }
  .form-add-right > li{
    display:flex;
    flex-direction:column;
    margin:0.4rem 0;
  }
  