.delete-info span{
 font-weight:bold;
}
.center-position{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.center-position button{
    background:transparent;
    color:#2e8b5a;
    font-size:1.5rem;
    border:none;
    outline:none;
}
.center-position > button:hover{
    color:#ff0000;
}
.delete-container{
    padding-bottom:1rem;
    text-align:center;
}
.delete-container button{
    margin:0 0.4rem;
}
.delete-container button:nth-child(1){
    padding:0.1rem 0.4rem;
    border-radius:0.5rem;
    background:#00cc00;
    color:#fff;
}
.delete-container button:nth-child(2){
    padding:0.1rem 0.4rem;
    border-radius:0.5rem;
    background:#ff3333;
    color:#fff;
}