 .rightLogoDTA {
    position: relative;;
    width:400px;
    height:40px;
 }
.eTicketDTA {
    font-size: 48px;
    font-weight: bold;
    position: relative;
    left: 35px;
    top: -5px;
}
.invoiceCodeDTA {
    position: relative;
    top:-18px;
    left: 35px;
    font-size:20px;
    color: grey;
}
.trainDetailDTA {
    position: relative;
    left: 35px;
    font-size: 35px;
    top:10px;
    font-weight: bolder;
}

.datetimenowDetailDTA {
    position: relative;
    left: 35px;
    top:4px;
    font-size: 20px;
    color: darkgrey;
}

.daydetailDTA {
    font-weight: bolder;
}
.argodetailDTA {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 35px;
    top:30px;
}
.typeArgodetailDTA {
    position: relative;
    left: 35px;
    top:35px;
}
.linethroughDetailDTA {
    width: 50px;
    height: 200px;
    position: relative;;
    top: 40px;
    left: 30px;
}
.depTimedetailDTA{
    position: absolute;
    left: 100px;
    top: 330px;
    font-weight: bold;
}
.depdatetimedetailDTA{
    position: absolute;
    left: 100px;
    top: 360px;
    color: darkgrey;
}
.arrvTimedetailDTA{
    position: absolute;
    left: 100px;
    top: 470px;
    font-weight: bold;
}
.arrvdatetimedetailDTA {
    position: absolute;
    left: 100px;
    top: 500px;
    color: darkgrey;
}
.depPlacedetailDTA {
    position: absolute;
    left: 330px;
    top: 330px;
    font-weight: bold;
}

.notdepPlacedetailDTA {
    position: absolute;
    left: 330px;
    top: 360px;
    color: darkgrey;
}
.destPlacedetailDTA {
    position: absolute;
    left: 330px;
    top: 470px;
    font-weight: bold;
}

.notdestdetailDTA {
    position: absolute;
    left: 330px;
    top: 500px;
    color: darkgrey;
}
.BoxdetailScanerDTA {
    position: absolute;
    height: 80px;
    left: 350px;
    top: 160px;
}

.detailScannerDTA {
    width:80px;
    height:80px;
    box-shadow: 6px 6px 8px gray;
}

.lineDetailfirstDTA {
    width: 100%;
    border: 1px solid grey;
    position: absolute;
    top:540px;
}
.lineDetailsecondDTA {
    width: 100%;
    border: 1px solid grey;
    position: absolute;
    top:650px;
}
.pcicDetailDTA {
    position: relative;
    left: 35px;
    top:67px;
    font-size: 20px;
}

.pOrdersDetailDTA {
    position: relative;
    left:270px;
    top:38px;
    font-size: 20px;
}

.pHpDetailDTA {
    position: relative;
    left:410px;
    top:8px;
    font-size:20px;
}

.pemailDetailDTA {
    position: relative;
    left:570px;
    top:-20px;
    font-size: 20px;
}
.noCicDetailDTA {
    position: relative;
    left: 38px;
    top: 10px;
    color: darkgrey;
}
.noOrdersDetailDTA {
    position: relative;
    left: 270px;
    top: -15px;
    color: darkgrey;
}
.noHpDetailDTA {
    position: relative;
    left: 410px;
    top: -39px;
    color: darkgrey;
}
.noEmailDetailDTA {
    position: relative;;
    left:570px;
    top: -63px;
    color: darkgrey;
}
.BoxFooterDTA{
    position: relative;;
    background-color:#E6E6E6;
    height:60px;
    width:95%;
    margin-left:20px;
    border-top-left-radius:10px;
     border-top-right-radius:10px;
}
.totalDTA{
  text-align:left;
  font-size:40px;
  color: black;
  position: relative;
  font-weight: bold;
  margin-left:12px;
  float: left;
}
.RpDTA{
      font-size:40px;
      color:red;
      font-weight: bold;
      text-align: right;
      margin-right:10px;
}
.boxImageuploadedDTA {
    width: 250px;
    height: 250px;
    background-color: white;
    position: absolute;;
    left: 500px;
    top:160px;
    border: 2px solid lightgrey;
   
}

.transferDTA {
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px 7px gray;
}

.notespaynowDTA {
    font-size: 15px;
    position:absolute;
    left: 540px;
    top: 420px;
    margin-left:-18px;

}
.searchbuttonIndex {
    width: 28px;
    height: 28px;
    cursor: pointer;
}