.navDashboard {
    font-family: "Tomorrow", sans-serif;
    font-size: 40px;
    position: relative;
    height: 80px;
    width: 100%;
    box-shadow: 3px 3px 10px grey;
}

.trainlogofirstDSH {
    margin-left: 30px;
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 15px;
}

/* dropdown */
.dropbtnDSH {
    color: white;
    border: none;
    margin-left:120px;
    width: 90px;
    height: 80px;
    top:-20px;
    position: relative;
    left: 430%;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 5px;
}
.userDSH {
    position: relative;
    margin-left: 900px;
    top:10px;
    width: 100px;
    height: 20px;
    float: left;
    margin-right: 30px; 
    font-size: 40px;
    color:#EC7A7A;
}

.dropdownDSH {
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.dropdown-contentDSH {
    display: none;
    position: absolute;
    top: 50px;
    /* left:90%; */
    left: 410%;
    /* left: 1060px; */
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
    cursor: pointer;
    float: left;
    color: blue;
}

.TEXT {
    padding: 32px auto;
}

.dropdown-contentDSH .link1DSH {
    padding: 22px 10px;
    width: 250px;
    height: 70px;
    text-decoration: none;
    display: block;
    float: left;
}

.dropdown-contentDSH .link1DSH:hover {
    background-color: #ddd;
    border-radius: 12px;
    width: 250px;
}

.dropdownDSH:hover .dropdown-contentDSH {
    display: block;
}

.ticketbuttonDSH {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 18px;
}

.logoutbuttonDSH {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 18px;
}

.paymentbuttonDSH {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 18px;
}

