.navAdmin {
    font-family: "Tomorrow", sans-serif;
    font-size: 40px;
    position: relative;
    height: 80px;
    width: 100%;
    box-shadow: 3px 3px 10px grey;
}

.trainAdmin {
    margin-left: 30px;
    width: 200px;
    height: 50px;
    float: left;
    margin-top: 15px;
}

/* dropdown */
.dropbtnAdmin {
    color: white;
    border: none;
    margin-left: 80px;
    width: 70px;
    height: 60px;
    position: relative;
    left: 800px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 5px;
}

.Admin {
    position: relative;
    left: 870px;
    top: 8px;
    width: 100px;
    height: 20px;
    float: left;
    margin-right: 30px;
    font-size: 40px;
    color: #EC7A7A
}

.dropdownAdmin {
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.dropdown-contentAdmin{
    display: none;
    position: absolute;
    top: 50px;
    left:839px;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
    cursor: pointer;
    float: left;
    color: blue;
}

.TEXT {
    padding: 32px auto;
}

.dropdown-contentAdmin .link1Admin {
    padding: 22px 10px;
    width: 250px;
    height: 70px;
    text-decoration: none;
    display: block;
    float: left;
}

.dropdown-contentAdmin .link1Admin:hover {
    background-color: #ddd;
    border-radius: 12px;
    width: 250px;
}

.dropdownAdmin:hover .dropdown-contentAdmin {
    display: block;
}

.ticketbuttonAdmin {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 18px;
}

.logoutbuttonAdmin{
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 18px;
}

