@import url("https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tomorrow&display=swap");
.bckgrdmainmenu{
  background-image: url(../img/bgCat.jpg);
  background-size: cover;
  background-color: #282c34;
  min-height:700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.text {
  text-align: center;
  font-size: 32px;
  position: absolute;
  top: 320px;
  color: cornflowerblue;
}
.text2 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: black;
  margin-top: 340px;
}
.text2 span {
  text-decoration: underline;
}
.title {
  position: absolute;
  font-size: 43px;
  font-family: "Playfair Display", serif;
}

span {
  font-weight: bold;
}

.text {
  text-align: center;
}

.homeText {
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.homeText h2 {
  margin-top: 40px;
  font-size: 90px;
}
.homeText span {
  font-weight: bolder;
}

.info {
  width: 100%;
  height: 80px;
  margin-top: 80px;
}
.btnDouble {
  margin-left: 1400px;
}
.judul {
  font-family: "Tomorrow", sans-serif;
  font-size:30px;
  position: relative;
  top:30px;
  left:48px;
}
