@import url("https://fonts.googleapis.com/css?family=Fondamento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tomorrow&display=swap");
.footer {
  background: linear-gradient(180deg, #ec7a7a 0%, #ec7ab7 100%);
  font-style: italic;
  width: 100%;
  height: 200px;
  position: absolute;
  top:600px;
  background-color:rgb(0,0,0,0.8);
}
.textfooter {
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  font-weight: bolder;
  font-size:45px;
  font-style: italic;
  position:absolute;
  left:500px;
  top:50px;

}
