.login {
  background:rgb(110,110,110);
  font-size: 12px;
  text-align: center;
  color:white
}
Modal {
  border-radius: 18px;
}
input.form-control {
  width: 300px;
  margin-left: 100px;
}
.modal-open {
  border-radius: 18px;
}
.formInput {
  margin-top: 12px;
}
s .btnSubmit {
  border-radius: 12px;
  background-color: darkcyan;
  color: white;
  margin-left: 200px;
  margin-bottom: 12px;
}
.btn-login {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  font-size: 24px;
}
.modal-dialog {
  border-radius: 20px;
}
