.bg{
  background-image:url("../img/backgroundRight.jpg");
  display: flex;
  height:100vh;
}
/* .Box{
    width:400px;
    height:650px;
    background: linear-gradient(180deg, #EC7AB7 0%, #EC7A7A 100%);
    border-radius:12px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
} */

.modal-content{
        background: linear-gradient(180deg, #EC7AB7 0%, #EC7A7A 100%);
        border-radius:12px; 
        
}
.pre{
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color:whitesmoke;
    line-height: 131px;
    margin-left:120px;
}
.upgrade{
    color:white;
    font-size:20px;
}

.boxcam{
    width:300px;
    height:200px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-left:94px;
    margin-bottom:20px;
}
.cam{
    margin-left:50px;
}
.up1{
    text-align: center;
    
}
.up1 span{
    font-weight:bold;
    margin-left:2px;
}
.up2{
    margin-left:120px;
    font-size:30px;
}
.iNoRek{
    width:80%;
    height:50px;
    border-radius:5px;
    margin-left:48px;
    text-align:center;
    margin-bottom:20px;
}
.btnkirim{
    width:150px;
    height:50px;
    border-radius:20px;
    font-size:20px;
    margin-left:170px;
    background-color:mediumslateblue;
    color:whitesmoke;
    margin-bottom:12px;
}
.btnkirim:hover{
     background-color:cornflowerblue;
}