.prSidebar-left {
  width:35%;
  height:100vh;
  float: left;
  position: absolute;
  overflow: hidden;
 
}
.prSidebar-right{
  background-image: url("../img/backgroundRight.jpg");
  width: 65%;
  height:100vh;
}
.prSiderUp{
  width:100%;
  background-color:#EC7A7A;
  height:120px;
}
.prImageProfile{
  width:110px;
  height:110px;
  border-radius:50%;
  float:left;
  border:3px solid white;
  margin-top:4px;
}
.prProfilPet{
  height:66px;
  float:left;
  font-size:48px;
  color:white;
  margin-left: 29px;
  margin-top:12px;
}

 .prmodal{
  width:65%;
  height:600px;
  float:right;
  position:relative;
  top:50px;
  left:400px;
}
.prRight{
  position:relative;
  top:50px;
  left:900px;
  width:60%;
}
.prArrowleft{
  width:55px;
  height:55px;
  float: left;
  margin-left:12px;
  margin-top:30px;
  margin-right:30px;
}
.prSiderBottom{
  width:100%;
  height:100vh;
  background-color:grey;

}
.prCrossline{
    position: relative;
    top:15px;

    border:2px solid lightslategrey;
}
.prEmail1{
  font-size:20px;
  margin-left:10px;
  margin-top:12px;
  float: left; 
}
.prEmail2{
  font-size:20px;
  margin-left:190px;
  margin-top:12px; 
}
.prPhone1{
  font-size:20px;
  margin-left:12px;
  margin-top:10pxl;
  float: left;
}
.prPhone2{
  font-size:20px;
  margin-left:190px;
}
 .prBoxacset1{
  background: #EDEDED;
  height:80px;
  position:relative;
  top:0;
 
}
.prLayoutp1{
  color:white;
}
.prBoxacset2{ 
  background: #EDEDED;
  height:80px;
  position: relative;
  top:0px;
} 
 .prAcset1{
position: absolute;
top:10px;
font-size:30px;
color:rgb(236,122,183);
margin-left:12px;
}
.prAcset2{
font-size:30px;
color:rgb(236,122,183);
margin-left:12px;
margin-top:38px;
} 
.prPrange{
  width:500px;
  margin-left:10px;
  color:blue;
}

.prMaxdist{
  font-size:20px;
  color:white;
  margin-left:12px;
  float: left;
  font-weight:bolder;
}

.prKm{
  margin-left:200px;
  display:inline;
  font-size:20px;
  color:white;
}

.prSpecies{
  font-size:20px;
  margin-left:12px;
  color: white;
  font-weight: bold;
}
.prAge{
  margin-left:12px;
  font-weight:bold;
  font-size:20px;
  color: white;
}

.prName{
  font-size:60px;
  float: left;
  width:80px;
  height:30px;
}
.prDistance{

  -webkit-appearance: none;
  width: 82%;
  height: 20px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left :50px;
  background: linear-gradient(328.08deg, #F32121 0.82%, rgba(243, 33, 33, 0.23) 97.97%);
  border-radius: 10px;

}
.prSelect1{
width:450px;
height:30px;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 10px;
margin-left:50px;
margin-bottom:20px;
}
.prSelect2{
width:450px;
height:30px;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 10px;
margin-left:50px;
margin-top:23px;

}

.profile{
  height:100vh;
  background-image: url("../img/backgroundRight.jpg");
}
.prBtnlogout{
width: 120px;
height:49px;
background: linear-gradient(180deg, #EC7A7A 0%, #EC7AB7 100%);
border-radius: 80px;
margin-top:40px;
margin-left:200px; 
color:white;
}
.prBtnEdit{
width: 120px;
height:49px;
background: linear-gradient(180deg, #EC7A7A 0%, #EC7AB7 100%);
border-radius: 80px;
margin-left:102px; 
color:white;
}
.prnamepet{
  font-size:40px;
}
.prbtnsave{
width: 120px;
height:49px;
background: linear-gradient(180deg, #EC7A7A 0%, #EC7AB7 100%);
border-radius: 80px; 
color:white;
position:absolute;
left:1400px;
top:60px;
}
.prbtnsave:hover{
  cursor: pointer;
}
.pricon{
  width:30px;
  height:30px;
  margin-right:30px;
}
.card{
  border-radius:20px;
}

.prCard{
  border-radius:39px;
  box-shadow:8px 8px 20px black;
  margin-left:100px;
  margin-top:40px;
}




