input.formInput.form-control {
  text-align: left;
}
.registrasi {
   background:rgb(110,110,110);
  text-align: center;
  color: white;
}

select.form-control {
  width: 300px;
}
.btn .btn-success {
  text-align: center;
  background:green;
  
}
.selection{
  margin-left:102px;
}